$focus-outline-color: #005fcc;
$focus-outline-width: 3px;
$line-height-base: 1.5;
$letter-spacing-base: 0.01em;
$font-size-base: 1rem;    // 16px
$font-size-sm: 0.9375rem; // 15px
$font-size-lg: 1.125rem;    // 18px
$primary: #2050c0;
$btn-border-radius: 0;
$border-radius: 0;